.nsdeploy
package-lock.json
payload.json
DeployDistribution/
LocalDistribution/
node_modules/
.idea/
scratchpad/
npm-debug.log
Modules/extensions/_template/
Modules/lncurtis/Backup/error.txt
Modules/custom/CodeInspector/
temp/
