.cms-page-left-menu {
  h1 {
    color: $sc-color-secondary;
  }

  h4, h3 {
    margin: $sc-base-margin*4 0 $sc-base-margin*2;
    a {
      color: $sc-color-dark-copy;
    }
  }

  .contact-page-contact {
    margin-bottom: $sc-base-margin*4;
  }

  p {
    margin: $sc-base-margin*2 0;

  }
  ul {
    margin-top: $sc-base-margin*2;
    margin-bottom: $sc-base-margin*4;
  }

}

.cms-landing-page {
  h1 {
    margin-bottom: $sc-base-margin*4;
  }
  p {
    margin: $sc-base-margin*2 0;

  }
  ul {
    margin: $sc-base-margin*2 0 $sc-base-margin*4;

  }

}

.cms-image-grid {
  a {
    display: table-cell;
    vertical-align : middle;
    img {
      vertical-align : middle;
    }
  }
  li {
    @media (min-width: $screen-md) {
      width : 20%;
    }
    display:table;
    text-align : center;
    height: 180px;
  }
}

.contact-page-contact.col-md-4 {
  @media (max-width: $screen-sm) {
    &:nth-of-type(2n) {
      clear:left;
    }
  }
  @media (min-width: $screen-md-min) {
    &:nth-of-type(4n) {
      clear:left;
    }
  }
}