/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.item-details-image-gallery {
	position: relative;
  li {
    text-align: center;
  }
  img {
    pointer-events: none;
  }
  @media (min-width: $screen-lg) {
    .bx-viewport {
      width: 100%;
    }
  }
}

.view.product-detail {
  .item-details-image-gallery {
    @media (min-width: $screen-lg) {
      .bx-viewport {
        min-height: 404px;
      }
    }
  }
}

.zoomImg {
  background: white;
}

.item-details-image-gallery .social-sharing-flyout-content-social-pinterest {
	display: none;
}

.item-details-image-gallery:hover .social-sharing-flyout-content-social-pinterest {
	@media (min-width: $screen-md-min) {
		display: block;
	}
}

.item-details-image-gallery-detailed-image{}

.bx-video-fallback {
  display: inline-block;
  padding-top: $sc-base-padding;
}
.bx-slider-play-button {
  display:none;
  @media (min-width: $screen-md) {
    display    : inline-block;
    padding    : $sc-base-padding*3;
    background : $footer-background;
    i {
      @extend %fa;
      @extend %fa-play;
      color : $sc-color-tertiary;
    }
  }
}

.item-details-image-gallery .bx-wrapper .bx-pager .bx-pager-item a {
  @media (min-width: $screen-md) {
    width: 65px; height: 65px;
  }
  border: 1px solid $sc-color-theme-border !important;
  vertical-align: middle;
  float: none;
  display:inline-block;
  margin: $sc-base-margin;

}

