/*
	© 2016 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.facets-item-cell-list {
	@extend .container-fluid;
	@extend .item-cell;

    padding: $sc-base-padding * 4 $sc-base-padding*2;

  [data-type="alert-placeholder-module"] {
    span {
      font-size: $sc-smallest-font-size;
    }
    div {
      padding-right: 0;
    }

    .global-views-message {
      padding: 0;
      margin-bottom: 0;
    }
  }

}

.facets-item-cell-list-quick-view-wrapper {
  @extend .item-cell-quick-view-wrapper;
}

.facets-item-cell-list-quick-view-link {

  @extend .item-cell-quick-view-link;
}

.facets-item-cell-list-left {
	@extend .col-xs-4;
}

.facets-item-cell-list-right {
	@extend .col-xs-8;

	.item-views-price {
		text-align:left;
	}
}

.facets-item-cell-list-image-wrapper {
	position:relative;
	text-align:center;
}

.facets-item-cell-list-anchor {}

.facets-item-cell-list-quick-view-icon {}

.facets-item-cell-list-name {
  padding-bottom: $sc-base-padding * 2;
}

.facets-item-cell-list-add-to-cart {
  @extend .row;
}

.facets-item-cell-list-add-to-cart-itemid {}

.facets-item-cell-list-add-to-cart-quantity {}

.facets-item-cell-list-add-to-cart-button {
  @extend .button-primary;
  @extend .button-medium;
  color:$sc-color-primary;
  background:$sc-color-tertiary;
  border: 2px solid $sc-color-primary;
  &:hover {
    border: 2px solid $sc-color-primary;
  }
}

.facets-item-cell-list-stock {}

.facets-item-cell-list-details {
	text-align:center;
}

.facets-item-cell-list-image {
	height:auto;
}

.facets-item-cell-list-title {
  a {
    @extend .item-cell-title;
    text-align : left;
  }
}

.facets-item-cell-list-price {
	@extend .small-price;
	margin-bottom:$sc-small-margin;
}

.facets-item-cell-list-rating {
	text-align:center;
	display: inline-block;
}

.facets-item-cell-list .item-details-option-color-tiles-container {
	@extend .color-picker-sm;
}

.facets-item-cell-list .item-details-option-color-label {
	display:none;
}

.facets-item-cell-list {
	.global-views-star-rating-area {
		margin-bottom:$sc-small-margin;
	}
}

.facets-item-cell-list-sku {
  padding: $sc-base-padding*2 0;
}

.facets-item-cell-list-description {
  margin-bottom: $sc-base-margin*2;
}